<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Metabase</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        iframe {
            width: 100vw;
            height: 100vh;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="http://localhost:3000/public/dashboard/5b5e19fe-d433-4618-8c31-87f210a6f49c" 
            allowtransparency="true"
            frameborder="0">
    </iframe>
</body>
</html>